<div class="well">
  <div class="media">
    <a class="pull-left" href="#">

    </a>

    <div class="media-body">
      <%= link_to discussion, style: 'color: inherit;' do %>
          <h3 class="media-heading">
            <span class="glyphicon glyphicon-eye-open"></span> <%= discussion.title %>
          </h3>
      <% end %>
      <p class="text-right">By <%= discussion.user.username %></p>

      <p>
        <% if discussion.posts.count > 0 %>
            <%= discussion.posts.first.description %>
        <% end %>
      </p>
      <ul class="list-inline list-unstyled">
        <li>
          <span>
            <i class="glyphicon glyphicon-calendar"></i> <%= discussion.created_at.to_formatted_s(:long) %>
          </span>
        </li>
        <li>|</li>
        <span>
          <i class="glyphicon glyphicon-comment"></i> <%= discussion.posts.count %> messages
        </span>
      </ul>
    </div>
  </div>
</div>