<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Forum" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Forum" %>">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
  <div id="wrap">
    <header>
      <%= render 'layouts/navigation' %>
    </header>
    <main role="main">
       <%= render 'layouts/messages' %>
       <%= yield %>
    </main>
    </div>
    <div id="footer">
      <div class="container" style="padding: 20px;">
        <p class="text-muted">This Forum was created by <a href="https://github.com/jlehva">jlehva</a></p>
      </div>
    </div>

    <ul class="nav pull-right scroll-top">
      <li><a href="#" title="Scroll to top"><i class="glyphicon glyphicon-chevron-up"></i></a></li>
    </ul>
  </body>
</html>
